
<h1>Your Entries</h1>

<table>
<caption class="sr-only">List of all entries with date, notes, and nutrition item counts</caption>
  <thead>
    <tr>
      <th>Date</th>
      <th>Notes</th>
      <th>Nutrition Items</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |e| %>
      <tr>
        <td><%= link_to e.date, entry_path(e) %></td>
        <td><%= truncate(e.notes.to_s, length: 60) %></td>
        <td><%= e.read_attribute(:nutrition_count) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
